@import url("stylesheet.css");

*{
    padding: 0;
    margin: 0;
    font-family: 'Gotham Pro';
}

body{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "header header"
    "jumbotron jumbotron"
    "about about"
    "services services"
    "news news"
    "contact contact"
    "footer footer";
    background: rgb(245, 245, 245);
}

.header{
    grid-area: header;
    font-weight: 500;
    width: 100%;
    height: 48px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-template-areas: "logo menu1 numero";
    justify-content: space-evenly;
    align-items: center;
}

.header a{
    text-decoration: none;
    color: rgb(42, 42, 42);
    padding: 15px;
}

.header .menu a:hover{
    color: rgb(245, 245, 245);
    background: rgb(247, 188, 88);
}

.header .logo{
    grid-area: logo;
}

.header .logo a{
    font-weight: 550;
}

.header .menu{
    grid-area: menu1;
}

.header .numero{
    grid-area: numero;
}

.header .numero a{
    font-weight: 550;
}

.jumbotron{
    grid-area: jumbotron;
    background-image: url("https://images.pexels.com/photos/1571460/pexels-photo-1571460.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "vacio texto";
}

.jumbotron .vacio{
    grid-area: vacio;
}

.jumbotron .text{
    grid-area: texto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.jumbotron .text div{
    background: rgba(245, 245, 245, .5);
    width: 55%;
    height: 45%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.jumbotron .text div h1{
    font-size: 50px;
    text-align: justify;
    font-weight: 500;
}

.jumbotron .text div p{
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}

.jumbotron .text div button{
    width: 100px;
    height: 35px;
    border: none;
    background: rgb(247, 188, 88);
}

.jumbotron .text div button a{
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-size: 12px;
    font-weight: 500;
}

.about{
    grid-area: about;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "titulo titulo"
    "fechas imagen";
    justify-items: center;
    align-items: center;
    padding-bottom: 50px;
}

.about .titulo-about{
    grid-area: titulo;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.about .fechas{
    grid-area: fechas;
    width: 70%;
    height: auto;
    text-align: justify;
}

.about .imagen{
    grid-area: imagen;
    width:70%;
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
}

.about .imagen img{
    width: 550px;
    height: auto;
    position: relative;
    bottom: 350px;
}

.services{
    grid-area: services;
    width: 100%;
    height: 420px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "titulo"
    "imagenes";
    background: rgb(234, 234, 234);
}

.services .titulo-services{
    grid-area: titulo;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.services .imagenes{
    grid-area: imagenes;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.services .imagenes div{
    overflow: hidden;
    width: 350px;
    height: 250px;
    position: relative;
}

.services .imagenes div img{
    width: 385px;
    height: auto;
}

.services .imagenes .texto-imagen{
    background: rgba(42, 42, 42, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.services .imagenes .texto-imagen h3{
    font-size: 15px;
    font-weight: 500;
}

.services .imagenes .texto-imagen h3 span{
    font-size: 18px;
    font-weight: 550;
    color: rgb(247, 188, 88);
}

.services .imagenes .texto-imagen h2{
    font-size: 18px;
    font-weight: 550;
}

.services .imagenes .texto-imagen p{
    font-size: 14.5px;
    font-weight: 400;
}

.news{
    grid-area: news;
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "titulo titulo"
    "imagen texto";
    justify-items: center;
    align-items: center;
    padding-bottom: 50px;
}

.news .titulo-news{
    grid-area: titulo;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.news .imagen{
    grid-area: imagen;
    width: 70%;
    height: 370px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    background: rgb(247, 188, 88);
    align-items: center;
}

.news .imagen .image{
    width: 100%;
    height: 85%;
    overflow: hidden;
}

.news .imagen .fecha{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    color: rgb(245, 245, 245);
    justify-content: center;
    align-items: center;
}

.news .imagen img{
    width: 800px;
    height: auto;
    position: relative;
    bottom: 185px;
    right: 50px;
}

.news .texto-news{
    grid-area: texto;
    width: 70%;
    height: auto;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.news .texto-news h5{
    color: rgb(247, 188, 88);
}

.contact{
    grid-area: contact;
    background: rgb(234, 234, 234);
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "titulo"
    "formulario"
    "gallery";
    justify-items: center;
    align-content: center;
    padding-bottom: 50px;
}

.contact .titulo-contact{
    grid-area: titulo;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.contact .formulario{
    grid-area: formulario;
    display: flex;
    height: 80px;
}

.contact .formulario .email{
    width: 450px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: none;
    padding-left: 10px;
    outline: none;
}

.contact .formulario .boton{
    width: 120px;
    height: 40px;
    border: none;
    padding: 0;
    margin: 0;
    background: rgb(247, 188, 88);
    color: rgb(245, 245, 245);
    font-weight: 500;
    font-family: 'Gotham Pro';
    cursor: pointer;
}

.contact .gallery{
    grid-area: gallery;
    width: 85%;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.contact .gallery div{
    width: 20%;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
}

.contact .gallery .img1{
    width: auto;
    height: 100%;
    position: relative;
    right: 0;
}

.contact .gallery .img2{
    width: auto;
    height: 100%;
    position: relative;
    right: 75px;
}

.contact .gallery .img3{
    width: auto;
    height: 100%;
    position: relative;
    right: 235px;
}

.contact .gallery .img4{
    width: auto;
    height: 100%;
    position: relative;
    right: 75px;
}

.contact .gallery .img5{
    width: auto;
    height: 100%;
    position: relative;
    right: 120px;
}

.footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: 30% 10% 25%;
    grid-template-rows: 1fr;
    grid-template-areas: "derechos links contacto";
    width: 100%;
    height: 150px;
    background: rgb(42, 42, 42);
    color: rgb(245, 245, 245);
    justify-content: space-evenly;
    align-items: center;
}

.footer .derechos{
    grid-area: derechos;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .derechos p{
    font-size: 14px;
    line-height: 1.3;
}

.footer .links{
    grid-area: links;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .links a{
    text-decoration: none;
    color: rgb(245, 245, 245);
    font-size: 14px;
}

.footer .contacto{
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .contacto p{
    font-size: 14px;
}

.footer .contacto p span{
    font-weight: 500;
}